

@model buoi5.Models.Loaihanghoa


        <table>
            <tr>
                  <th > Tên loại hàng hóa: </th>
                  <td>@Model.Tenloai</td>
        

            </tr>
            

            
        </table>
  
  
      