@model buoi5.Models.Nhasanxuat



    
        <table>
            <tr>
            <th> Tên nhà sản xuất </th>




        <td style="width:200px">@Model.Tennsx</td>
        <th > Địa chỉ </th>

        <td >@Model.Diachi</td>
            </tr>
         
         
        </table>
    
    
